[submodule "Carthage/Checkouts/OpenCV-iOS"]
	path = Carthage/Checkouts/OpenCV-iOS
	url = https://github.com/Fl0p/OpenCV-iOS.git
[submodule "Carthage/Checkouts/Tesseract-OCR-iOS"]
	path = Carthage/Checkouts/Tesseract-OCR-iOS
	url = https://github.com/gali8/Tesseract-OCR-iOS.git
